export COCKROACH_URL="postgresql://root@localhost:26257"
export DATABASE_URL="postgresql://root@localhost:26257/garagesales?sslmode=verify-full&sslcert=/home/anda/code/tullo/service/certs/client.root.crt&sslkey=/home/anda/code/tullo/service/certs/client.root.key&sslrootcert=/home/anda/code/tullo/service/certs/ca.crt"
