export COCKROACH_URL='postgresql://root@localhost:26257'
export DATABASE_URL='postgresql://root@localhost:26257/garagesales?sslcert=%2Fhome%2Fanda%2Fcode%2Ftullo%2Fservice%2Fcerts%2Fclient.root.crt&sslkey=%2Fhome%2Fanda%2Fcode%2Ftullo%2Fservice%2Fcerts%2Fclient.root.key&sslmode=verify-full&sslrootcert=%2Fhome%2Fanda%2Fcode%2Ftullo%2Fservice%2Fcerts%2Fca.crt'
