.DS_Store
.idea
.vscode

# env vars
.env
.env-db

# auth related files
private.pem
public.pem

# go build artifacts
/app/sales-admin/sales-admin
/app/sales-api/sales-api

# cloud sql proxy binary
cloud_sql_proxy
