name: Build and Deploy to Docker Hub

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Create file
      run: |
        cat <<EOF > private.pem
        ${{ secrets.PRIVATE_PEM }}
        EOF

    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"

    - name: Build & Publish to Docker-Github (sales-api)
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        BUILD_DATE: ${{ steps.date.outputs.date }}
        VCS_REF: ${{ github.sha }}
      with:
        name: tullo/sales-api-amd64
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: deployment/docker/dockerfile.sales-api
        buildargs: VCS_REF,BUILD_DATE
        tags: latest,${{ env.VCS_REF }}

    - name: Build & Publish to Docker-Github (metrics)
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        BUILD_DATE: ${{ steps.date.outputs.date }}
        VCS_REF: ${{ github.sha }}
      with:
        name: tullo/metrics-amd64
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: deployment/docker/dockerfile.metrics
        buildargs: VCS_REF,BUILD_DATE
        tags: latest,${{ env.VCS_REF }}
