name: Go

on:
  push:
    branches: 
      - main
      - renovate/**

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: '1.25.4'

    - name: Check out code into the Go module directory
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Install Task
      uses: arduino/setup-task@v2
      with:
        version: 3.x

    - name: Run go vet & static checks
      run: |
        go install honnef.co/go/tools/cmd/staticcheck@latest
        export PATH=$PATH:$(go env GOPATH)/bin
        staticcheck -debug.version
        task run-checks

    - name: Run builds
      run: |
        task build  

    # - name: Start a single node CockroachDB instance
    #   run: |
    #     docker pull cockroachdb/cockroach:v24.3.2
    #     docker run --name roach -d -p 26257:26257 cockroachdb/cockroach:v24.3.2 start-single-node --insecure --advertise-addr=localhost
    #     sudo apt-get update && sudo apt-get install wait-for-it --yes --no-show-upgraded
    #     wait-for-it -h localhost -p 26257
    #     docker exec roach bash -c "echo 'CREATE DATABASE garagesales;' | cockroach sql --insecure"
    
    - name: Install direnv
      run: |
        mkdir -p ~/.local/bin
        curl -sfL https://direnv.net/install.sh | bash

    - name: Run tests
      run: |
        ./envars.sh
        direnv allow
        eval "$(direnv export bash)"
        task cockroach-binary
        task certs
        task start-cockroach
        ./ci/test.sh

    # - name: Upload coverage
    #   uses: codecov/codecov-action@e0b68c6749509c5f83f984dd99a76a1c1a231044 # v4
    #   with:
    #     file: coverprofile.cov
    #     token: ${ secrets.CODECOV_TOKEN }
